
@{
    ViewBag.Title = "AirlineSearch";
}

@*<section class="content-header">
    <div class="header-icon">
        <i class="fa fa-map-marker"></i>
    </div>
    <div class="header-title">
        <h1>Region</h1>
        <small>Region List</small>
    </div>
</section>*@

